* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
.section-1,
.section-2,
.section-3,
.section-4,
footer {
  padding-inline: 7%;
}
header {
  background-color: #3161e0;
  height: 80vh;
  padding-block: 2%;
}

.header-top {
  display: flex;
  justify-content: space-between;
}
header figure,
nav,
.btn {
  min-height: 40px;
  background-color: white;
}

nav {
  min-width: 45%;
}
header figure,
.btn {
  min-width: 10%;
}
.head-jumbotron {
  margin: 20px auto 0;
  width: 45%;
}

.head-content {
  min-height: 40vh;
  background-color: #c3d4fb;
}

.head-cta {
  min-height: 80px;
  background-color: wheat;
  display: flex;
}
.btn-cta1,
.btn-cta2 {
  width: 50%;
  min-height: inherit;
}

.btn-cta2 {
  background-color: black;
}

.section-3,
.section-2,
.section-1 {
  min-height: 70vh;
  padding-block: 2%;
}
.flex-container {
  display: flex;
  gap: 20px;
}
main figure,
main article {
  min-height: 400px;
}
main figure {
  width: 60%;
  background-color: #3a394f;
}

main article {
  width: 40%;
  border: 1px solid rgb(43, 42, 42);
}
.section-2,
.section-4 {
  background-color: #f6f6f6;
}
.section-4 {
  height: 80vh;
  padding-block: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-4-content {
  min-height: 20vh;
  background-color: #c3d4fb;
}

.section-4 figure {
  width: 100%;
  min-height: 45vh;
}

.section-4 .jumbotron {
  justify-content: flex-end;
  min-height: 20vh;
  background-color: #c3d4fb;
}

.section-4 .jumbotron .btn {
  min-height: 50px;
  background-color: #8ea1e1;
}

.jumbotron .flex-container {
  flex-direction: column;
}
